/* global */
$background-color: #171818;
$foreground-color: darkred;
$suptitle-color: white;
$body-font-family: 'Source Code Pro', sans-serif, Arial, Helvetica;
$h1-font-family: 'Open Sans', sans-serif, Arial, Helvetica;
$h2-font-family: 'Montserrat Alternates', sans-serif, Arial, Helvetica;
$h3-font-family: 'Montserrat Alternates', sans-serif, Arial, Helvetica;
$h4-font-family: 'Montserrat Alternates', sans-serif, Arial, Helvetica;

/* banner */
$banner-font-family: 'Montserrat Alternates', sans-serif, Arial, Helvetica;
$banner-h1-animation-flicker-speed: 5s;

/* Namari style */
$section-title-font-family: 'Montserrat Alternates', sans-serif, Arial, Helvetica;
$header-hover-color: white;
$header-underlined-color: white;

/* popup */
$popup-font-family: 'Coming Soon';
$popup-font-size: 8vh;

/* rotating coin */
$kucocoin-coin-height: 240px;
$kucocoin-coin-width: 240px;
$kucocoin-animation-duration: 50s;

/* kuco stages */
$kucocoin-stages-hover-font-size: 2.2rem;
$kucocoin-stages-hover-font-family: 'Bungee Hairline';
$kucocoin-stages-hover-transition: 0.5s;
$kucocoin-stage-names: (
  'Trash',
  'Hope',
  'Computer',
  'Chad',
  'Profeet',
  'Secret'
);
$kucocoin-stage-colors: (
  FireBrick,
  #EB5406,
  yellowgreen,
  #FF10F0,
  Cyan,
  Gold
);
$kucocoin-stages-gallery-padding: 0px 0px 50px 0px;
$kucocoin-stages-content-background: rgba(0,0,0,.9);
$kucocoin-stages-content-padding: 30px;
$kucocoin-stages-content-padding-small-screen: 5px;
$kucocoin-stages-content-text-padding: 10%;
$kucocoin-stages-content-text-padding-small-screen: 10% 3%;
$kucocoin-stages-content-color: white;
$kucocoin-stages-content-text-shadow: 2px 2px black;
$kucocoin-stages-content-font-size: 2.2rem;
$kucocoin-stages-content-font-size-small-screen: 25px;
$kucocoin-stages-content-h2-font-size: 3rem;

/* trans-actions */
$trans-action-color-1: #5BCEFA;
$trans-action-color-2: #F5A9B8;
$trans-action-color-3: white;
$trans-action-background-1: rgba(91, 206, 250, .2);
$trans-action-background-2: rgba(245, 169, 184, .2);
$trans-action-button-font-size: 35px;
$trans-action-button-padding-top: 10px;

/* period */
$period-button-padding: 5px 20px;
$period-button-margin: 20px 0px;
$period-button-font-size: 35px;
$get-period-button-font-family: 'Source Code Pro', monospace;

/* Hypnotize */
// spiral
$spiral-width: 340px;
$spiral-height: 340px;
$spiral-margin-bottom: 20px;
$spiral-color: #131313;
$spiral-animation-duration: 3s;
// text
$spiral-text-font-size: 34px;
$spiral-text-font-family: 'Henny Penny';
$spiral-text-color: rgba(255,255,255,.03);
$spiral-text-animation-duration: 8s;

/* Kuco moon */
$kucomoon-moon-color: #f4c580;
$kucomoon-pyramid-color: FireBrick;
$kucomoon-coin-color: grey;
$kucomoon-k-color: white;
$kucomoon-animation-duration: 10s;

/* Gradient Button */
$gradient-button-text-color: white;
$gradient-button-background-color: #222;
$gradient-button-border-radius: 10px;
$gradient-button-background-gradient: linear-gradient(
  45deg,
  #ff0000,
  #ff4000,
  #4B0082,
  #5A0000,
  #ff00aa,
  #ff0055,
  #ff0000,
  #ff5555,
  #ff0000
);
$gradient-button-animation-speed: 20s;

/* Wallet */
$wallet-font-family: 'Open Sans', 'Montserrat Alternates';
$wallet-label-font-size: 0.8rem;
$wallet-label-font-weight: 100;
$wallet-label-font-color: #000;
$wallet-entry-font-size: 30px;
$wallet-entry-font-color: white;
$wallet-entry-text-shadow: 0 0 4px black;

/* Buy KucoCoin */
$buy-kucocoin-font-family: 'Montserrat Alternates';
$buy-kucocoin-font-size: 40px;
$buy-kucocoin-line-height: 1.2;
$buy-kucocoin-font-color: white;
$buy-kucocoin-entry-font-color: firebrick;

/* invest-claim-retract forms */
$invest-claim-retract-input-hover: rgba(0,0,0,.2);
$invest-amount-input-color: white;
$invest-submit-input-color: powderblue;
$claim-input-color: #B8FB3C;
$retract-input-color: firebrick;

/* blockquote */
$blockquote-color: #ccc;

/* social icons */
$social-icon-solid-color: rgba(255,255,255,.6);
$social-icon-solid-hover-color: white;

/* underlining */
$underline-color: firebrick;
$underline-duration: 2s;
$underline-delay: 0.75s;

/* custom offset data */
$eip6963-choice-size: 18px;
$right-offset-large: calc(20px + (32px - $eip6963-choice-size) / 2);
$right-offset-small: calc(5px + (32px - $eip6963-choice-size) / 2);