/* styling general elements */

a {
  color: powderblue;
}

button, a {
  cursor: pointer;
}

button, input {
  box-shadow: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

input:focus {
  box-shadow: none;
}
input[type='number'] {
  appearance: textfield;
}
input[type="button"]:hover {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* defining general classes */

.red {
  color: red;
}

.margin-20 {
  margin: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.code {
  font-family: monospace;
  font-weight: normal;
}

.center {
  position: relative;
  transform: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.float-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.space-around {
  justify-content: space-around;
}

.stretch {
  justify-content: stretch;
}

.justify-center {
  justify-content: center;
}

.loader {
  display: none;
}
