@keyframes flicker-text {
  90%, 92%, 94%, 96%, 98% {opacity: 0.4;}
  89%, 91%, 93%, 95%, 97%, 99% {opacity: 1;}
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}