@import "./config.scss";

/* popup */

.popup {
  display: none;
  position: fixed;
  text-align: center;
  font-family: $popup-font-family;
  font-size: $popup-font-size;
  font-weight: bold;
  /* center and rotate */
  z-index: 10000;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%) rotateZ(20deg);
}

/* kucocoin image */

.coin-image-container > img {
  height: $kucocoin-coin-height;
  width: $kucocoin-coin-width;
  border-radius: 250em;
  object-fit: contain;
  animation: spin $kucocoin-animation-duration linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* kucocoin stages */

#gallery {

  a:before {
    /* center vertically and horizontally */
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform */
    transform: translate(-50%, -50%);
    transition: all .2s linear;
    /* layered colors */
    color: black;
    font-size: 2.2rem;
    font-family: $kucocoin-stages-hover-font-family;
    font-weight: bold;
  }

  @for $i from 1 through length($kucocoin-stage-names) {
    $color: nth($kucocoin-stage-colors, $i);
    a:nth-child(#{$i}):before {
      content: nth($kucocoin-stage-names, $i);
      color: $color;
      text-shadow: 0.5vh 0.5vh 1vh $color, 0 0 6vh white;
    }
  }

  a:hover:before {
    opacity: 1;
  }
}

/* kucocoin stages - gallery on click */

#wrapper {
  transition: filter 1s;
}

#gallery {
  padding: $kucocoin-stages-gallery-padding;
}

#kuco-stage-layer {
  cursor: default;
  z-index: 9999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $kucocoin-stages-content-background;
  padding: $kucocoin-stages-content-padding;
  overflow-y: auto;

  > div {
    display: none;
    text-align: center;
    font-size: $kucocoin-stages-content-font-size;
    color: $kucocoin-stages-content-color;
    text-shadow: $kucocoin-stages-content-text-shadow;
    width: 100%;
    padding: $kucocoin-stages-content-text-padding;

    h2 {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  @media only screen and (max-width: 480px) {
    padding: $kucocoin-stages-content-padding-small-screen;
    > div {
      font-size: $kucocoin-stages-content-font-size-small-screen;
      padding: $kucocoin-stages-content-text-padding-small-screen;
    }
  }

  @for $i from 1 through length($kucocoin-stage-colors) {
    #kuco-stage-#{$i}-text > h2 {
      color: nth($kucocoin-stage-colors, $i);
    }
  }
}

/* triangle scheme */
#triangle-scheme {
  text-align: center;
  color: FireBrick;
  font-weight: bold;

  span {
    padding: 2px 0;
  }
}

/* trans action interface */
#trans-action-interface {
  margin: 20px 0;
  text-align: center;

  div {
    margin: 5px 0;
  }

  input {
    line-height: 15px;
    font-size: 15px;
    border-radius: 5px;
  }
  input:nth-child(1) {
    border: 1px solid $trans-action-color-1;
    color: $trans-action-color-2;
  }
  input:nth-child(2) {
    border: 1px solid $trans-action-color-2;
    color: $trans-action-color-1;
  }
  input::placeholder {
    color: $trans-action-color-3;
  }

  .trans-color-text {
    display: inline-block;
    padding-top: $trans-action-button-padding-top;
    font-size: $trans-action-button-font-size;
    transition: rotate 2s ease;
  }
  .trans-color-text:hover {
    cursor: pointer;
    rotate: $trans-action-button-rotation;
  }
  .trans-color-text:not(:hover) {
    rotate: 0deg;
    opacity: 0.5;
  }
  .trans-color-text:hover > span:nth-child(3n+1) {
    color: $trans-action-color-3;
  }
  .trans-color-text:hover > span:nth-child(3n+2) {
    color: $trans-action-color-1;
  }
  .trans-color-text:hover > span:nth-child(3n) {
    color: $trans-action-color-2;
  }
  .trans-color-text:not(:hover) > span:nth-child(3n+1)  {
    color: $trans-action-color-2;
  }
  .trans-color-text:not(:hover) > span:nth-child(3n+2) {
    color: $trans-action-color-3;
  }
  .trans-color-text:not(:hover) > span:nth-child(3n) {
    color: $trans-action-color-1;
  }
}

/* report period button */

.period-button {
  margin: $period-button-margin;
  padding: $period-button-padding;
  color: white;
  font-size: $period-button-font-size;
  font-family: $period-button-font-family;
  font-weight: bold;
  transition: color 1s;
  border-radius: 3px;
}

.report-period-button {
  animation: alternate-background $report-period-animation-duration alternate infinite ease-in-out;
}

@keyframes alternate-background {
  from {
    background-color: DarkRed;
  }
  100% {
    background-color: transparent;
  }
}

.period-button:hover {
  cursor: pointer;
  color: red;
}

#next-period-date-display {
  font-size: 25px;
}


/* blockquote */

blockquote.ancient {
  margin-top: 15pt;
  margin-bottom: 15pt;
  padding: 1px 5%;
  line-height: 1.3;
  text-align: center;
  font-size: 95%;
  font-style: italic;
  word-break: keep-all;
  color: #ccc;
  hyphens: auto;
  border-color: transparent;
}

blockquote.ancient:before {
  content: "❝";
}
blockquote.ancient:after {
  content: "❞";
}

/* kucocoin invest / claim form */

.transaction-based-form {
  display: inline-block;
  margin: 20px;
  padding: 12px 20px 20px 20px;
  border-radius: 5px;
  transition: box-shadow 1s;
  box-shadow: 0 0 4px #000011, 0 0 15px #000011, 0 0 35px black ;

  h2 {
    font-size: 35px;
    font-family: "Montserrat Alternates";
    text-transform: uppercase;
    animation: flicker-text 7s infinite linear;
  }

  input {
    width: 250px;
    height: 45px; // button value field sinks to the bottom otherwise
    padding: 10px;
    font-size: 20px;
    font-family: 'Source Code Pro';
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: rgba(0,0,0,.2);
  }
}

.invest-form {
  h2 {
    color: powderblue;
    text-shadow: 0 0 4px powderblue, 0 0 15px white, 0 0 35px white ;
  }
  input[type="button"]:hover {
    color: powderblue;
  }
}

.claim-retract-form {
  h2 {
    color: #B8FB3C;
    text-shadow: 0 0 4px #B8FB3C, 0 0 15px white, 0 0 35px white;
  }
  #claim-submit {
    color: lightgreen;
  }
  #retract-submit {
    color: FireBrick;
  }
}

.buy-form {
  h2 {
    color: gold;
    text-shadow: 0 0 4px gold, 0 0 15px white, 0 0 35px white;
  }
  input {
    color: gold;
    text-align: left;
  }
  input[type="button"] {
    color: lime;
    text-align: center;
  }
}

@keyframes flicker-text {
  90%, 92%, 94%, 96%, 98% {opacity: 0.4;}
  89%, 91%, 93%, 95%, 97%, 99% {opacity: 1;}
}

/* underline on scrolling */

.underline {
  position: relative;
  white-space: nowrap;
}

.underline-active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: FireBrick;
  z-index: -1;
  animation: underline 2s forwards;
  animation-delay: 0.75s;
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* KucoCoin price showcase */

.buy-kucocoin-container {
  line-height: 1.2;
  font-size: 40px;
  font-family: "Montserrat Alternates";
  color: FireBrick;

  .underline {
    color: white;
  }

  .gradient-button {
    margin-top: 10px;
    font-size: 25px;
    color: white;
  }
}

@media only screen and (max-width: 480px) {
  .buy-kucocoin-container {
    font-size: 7vw;

    .gradient-button {
      font-size: 5vw;
    }
  }
}

/* wallet */

.wallet {
  z-index: 9999;
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: calc(100% - 40px);
  padding: 10px;
  color: black;
  background-color: #ccc;

  .symbol {
    font-weight: bold;
    color: FireBrick;
  }

  .balance {
    color: green;
  }

  .field-name {
    font-weight: bold;
  }
}

#wallet {
  display: none;
}

@media all and (max-width: 1024px) {
  .wallet {
    width: 100%;
    left: 0;
    bottom: 0;
  }
}