@import "./config.scss";

.countdown {
  margin: 0 auto;
  text-align: center;
}

.countdown h1 {
  color: $countdown-title-color;
  font-family: $countdown-title-font-family;
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

.countdown li {
  display: inline-block;
  font-family: $countdown-font-family;
  font-size: 1.5em;
  color: $countdown-color;
  list-style-type: none;
  padding: 0em 1em;
  text-transform: uppercase;
}

.countdown li span {
  display: block;
  font-size: 4.5rem;
}

@media all and (max-width: 768px) {
  .countdown h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  .countdown li {
    font-size: calc(1.125rem * var(--smaller));
  }
  .countdown li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}