@import "./config.scss";

.trade-countdown-container {
  margin: 0 auto;
  text-align: center;
}

.trade-countdown-container h1 {
  color: $countdown-title-color;
  font-family: $countdown-title-font-family;
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

.trade-countdown > div {
  display: inline-block;
}

.trade-countdown > div > div {
  display: inline-block;
  font-family: $countdown-font-family;
  font-size: 1.5em;
  color: $countdown-color;
  list-style-type: none;
  padding: 0em 1em;
  text-transform: uppercase;
}

.trade-countdown span {
  display: block;
  font-size: 4.5rem;
}