/* general */

div.center {
  position: relative;
  transform: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* buttons */

div.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

div.buy-kuco-inputs-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
}

.buy-kuco {
  height: 100%;
  padding: 20px;
  color: black;
  font-weight: bold;
  font-size: large;
}
button.buy-kuco {
  border: none;
  background-color: none;
  margin-left: 0px;
  text-align: center;
  transition: color 1s;
  border: none;
}
button.buy-kuco:hover {
  cursor: pointer;
  color: firebrick;
}
input.buy-kuco {
  box-shadow: none;
  text-align: left;
  color: black;
}
input.buy-kuco::placeholder {
  color: FireBrick;
  text-align: left;
}

.kucocoin-token-container {
  text-align: center;
}