/* styling general elements */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

button, a {
  cursor: pointer;
}

a {
  transition: color 0.2s ease-in-out;
  color: orange;
}
a:hover {
  color: lime;
}

button, input {
  box-shadow: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

input:focus {
  box-shadow: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* defining general classes */

.red {
  color: red;
}

.margin-20 {
  margin: 20px;
}

.code {
  font-family: monospace;
  font-weight: normal;
}

.center {
  position: relative;
  transform: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.float-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.space-around {
  justify-content: space-around;
}

.stretch {
  justify-content: stretch;
}

.justify-center {
  justify-content: center;
}

.popup {
  display: none;
  position: fixed;
  text-align: center;
  font-family: 'Coming Soon';
  font-size: 8vh;
  font-weight: bold;
  /* center and skew */
  z-index: 100;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%) rotateZ(20deg);
}