.spiral-container {
  z-index: -1;
  margin-bottom: 20px;
  width:340px;
  height:340px;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
  -webkit-animation-name: spin;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 3s;
}
.spiral1,.spiral2,.spiral3,.spiral4 {
  position: absolute;
  width: 85%;
  height: 85%;
  margin: 0;
  padding: 0;
  background-color: #131313;
}
.spiral1 {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  background-color: #1e1e1e;
}

.spiral2 {
  left: 0;
  bottom: 0;
  border-left: none;
  border-bottom: none;
}

.spiral3 {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  background-color: #1e1e1e;
}

.spiral4 {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
}

div.spiral-container div, div.spiral-container {
  border-radius: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* spiral text */

.spiral-text-1, .spiral-text-2 {
  opacity: 0;
  font-size: 34px;
  font-weight: bold;
  font-family: "Henny Penny";
  color: rgba(255,255,255,.1);
  animation-name: alternateFade;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 6s;
}

.spiral-text-2 {
  animation-delay: 3s;
}

@keyframes alternateFade {
  0% {
    display: block;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  40% {
    display: none;
    opacity: 0;
  }
}