@import "./config.scss";

.spiral-container {
  z-index: -1;
  margin-bottom: $spiral-margin-bottom;
  width: $spiral-width;
  height: $spiral-height;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: $spiral-animation-duration;
}
.spiral1,.spiral2,.spiral3,.spiral4 {
  position: absolute;
  width: 85%;
  height: 85%;
  margin: 0;
  padding: 0;
  background-color: $spiral-color;
}
.spiral1 {
  left: 0;
  top: 0;
  border-left: none;
  border-top: none;
  background-color: $background-color;
}

.spiral2 {
  left: 0;
  bottom: 0;
  border-left: none;
  border-bottom: none;
}

.spiral3 {
  right: 0;
  bottom: 0;
  border-right: none;
  border-bottom: none;
  background-color: $background-color;
}

.spiral4 {
  right: 0;
  top: 0;
  border-right: none;
  border-top: none;
}

div.spiral-container div, div.spiral-container {
  border-radius: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* spiral text */

.spiral-text-1, .spiral-text-2 {
  opacity: 0;
  font-size: $spiral-text-font-size;
  font-family: $spiral-text-font-family;
  color: $spiral-text-color;
  font-weight: bold;
  animation-name: alternateFade;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: $spiral-text-animation-duration;
}

.spiral-text-2 {
  animation-delay: calc($spiral-text-animation-duration / 2);
}

.spiral-text-1:hover, .spiral-text-2:hover {
  cursor: default;
}

@keyframes alternateFade {
  0% {
    display: block;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  45% {
    display: none;
    opacity: 0;
  }
}