/* general */

.red {
  color: red;
}
.monospace {
  font-family: monospace;
}

button, input {
  box-shadow: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}
input:focus {
  box-shadow: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.center {
  position: relative;
  transform: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.float-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.space-around {
  justify-content: space-around;
}

.stretch {
  justify-content: stretch;
}

/* round images */
.image-container > img {
  height: 240px;
  width: 240px;
  border-radius: 250em;
  object-fit: contain;
}

/* form container */

.buy-kuco-form-container {
  border: 2px solid gray;
  border-radius: 1em;
  padding: 1em;
  justify-content: center;
}

/* featherlight mods */

img.featherlight-image {
  transition: filter 1s;
}

div.stage-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px #000000;
}

div.stage-img-text span {
  text-align: center;
}


#gallery {
  padding: 0px 0 75px 0;
}