#kuco-svg-container > svg {
  margin-bottom: 10px;
}

#K-to-triangle, #K-to-triangle line {
  transform-box: fill-box;
  transform-origin: center;
}

#K-to-triangle {
  animation: rotateTriangle 8s infinite alternate;
  -webkit-animation: rotateTriangle 8s infinite alternate;
}

#K-main-line {
  animation: moveLine 8s infinite alternate, shine 8s infinite alternate;
  -webkit-animation: moveLine 8s infinite alternate, shine 8s infinite alternate;
}

#K-to-triangle line:not(#K-main-line) {
  animation: shine 8s infinite alternate;
  -webkit-animation: shine 8s infinite alternate;
}

@keyframes rotateTriangle {
  0%, 20% {
    transform: rotate(0deg);
  }
  50%, 100% {
    transform: rotate(90deg);
  }
}

@-webkit-keyframes rotateTriangle {
  0%, 20% {
    -webkit-transform: rotate(0deg);
  }
  50%, 100% {
    -webkit-transform: rotate(90deg);
  }
}

@keyframes moveLine {
  0%, 50% {
    transform: translateX(0px);
  }
  80%, 100% {
    transform: translateX(60px);
  }
}

@-webkit-keyframes moveLine {
  0%, 50% {
    -webkit-transform: translateX(0px);
  }
  80%, 100% {
    -webkit-transform: translateX(60px);
  }
}

@keyframes shine {
  0%, 80% {
    stroke: white;
  }
  100% {
    stroke: FireBrick;
  }
}

@-webkit-keyframes shine {
  0%, 80% {
    stroke: white;
  }
  100% {
    stroke: FireBrick;
  }
}