/* general */

.red {
  color: red;
}
.monospace {
  font-family: monospace;
}

button, input {
  box-shadow: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}
button, a {
  cursor: pointer;
}
input:focus {
  box-shadow: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.center {
  position: relative;
  transform: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.float-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.space-around {
  justify-content: space-around;
}

.stretch {
  justify-content: stretch;
}

/* round images */
.image-container > img {
  height: 240px;
  width: 240px;
  border-radius: 250em;
  object-fit: contain;
}

/* kucocoin stages */

#wrapper {
  transition: filter 1s;
}

#kuco-stage-layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,.8);
  cursor: default;
  padding: 24px;
}

#kuco-stage-layer > div {
  display: none;
  text-align: center;
  font-size: 2.2rem;
  color: white;
  text-shadow: 2px 2px black;
  width: 100%;
}

#kuco-stage-layer > div > h2 {
  color: FireBrick;
}

#gallery {
  padding: 0px 0px 50px 0px;
}