/* kucocoin image */

.coin-image-container > img {
  height: 240px;
  width: 240px;
  border-radius: 250em;
  object-fit: contain;
  animation: spin 50s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

/* kucocoin stages */

#gallery a:before {
  /* center vertically and horizontally */
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform */
  transform: translate(-50%, -50%);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  /* layered colors */
  color: black;
  font-size: 2.2rem;
  font-weight: bold;
  font-family: 'Bungee Hairline';
}

#gallery a:nth-child(1):before {
  content: 'Trash';
  color: FireBrick;
  text-shadow: 0.5vh 0.5vh 1vh FireBrick, 0 0 6vh white;
}
#gallery a:nth-child(2):before {
  content: 'Hope';
  color: #EB5406;
  text-shadow: 0.5vh 0.5vh 1vh #EB5406, 0 0 6vh white;
}
#gallery a:nth-child(3):before {
  content: 'Computer';
  color: yellowgreen;
  text-shadow: 0.5vh 0.5vh 1vh yellowgreen, 0 0 6vh white;
}
#gallery a:nth-child(4):before {
  content: 'Chad';
  color: #FF10F0;
  text-shadow: 0.5vh 0.5vh 1vh #FF10F0, 0 0 6vh white;
}
#gallery a:nth-child(5):before {
  content: 'Techsus';
  color: Cyan;
  text-shadow: 0.5vh 0.5vh 1vh Cyan, 0 0 6vh white;
}
#gallery a:nth-child(6):before {
  content: 'Secret';
  color: Gold;
  text-shadow: 0.5vh 0.5vh 1vh Gold, 0 0 6vh white;
}

#gallery a:hover:before {
  opacity: 1;
  animation: flicker 10s infinite;
  -webkit-animation: flicker 10s infinite;
  -moz-animation: flicker 10s infinite;
}

@keyframes flicker {
  90%, 92%, 94%, 96%, 98% {opacity: 0.4;}
  89%, 91%, 93%, 95%, 97%, 99% {opacity: 1;}
}
@-webkit-keyframes flicker {
  90%, 92%, 94%, 96%, 98% {opacity: 0.4;}
  89%, 91%, 93%, 95%, 97%, 99% {opacity: 1;}
}

/* kucocoin stages - gallery on click */

#wrapper {
  transition: filter 1s;
}

#kuco-stage-layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,.8);
  cursor: default;
  padding: 30px;
  overflow-y: auto;
}

#kuco-stage-layer > div {
  display: none;
  text-align: center;
  font-size: 2.2rem;
  color: white;
  text-shadow: 2px 2px black;
  width: 100%;
}

#kuco-stage-layer > div > h2 {
  color: FireBrick;
}

#gallery {
  padding: 0px 0px 50px 0px;
}

/* triangle scheme */

#triangle-scheme {
  text-align: center;
}
#triangle-scheme > span {
  padding: 2px 0;
}

/* buttons */

/* make trans action button */

#trans-action-button {
  padding: 20px 0;
  text-align: center;
}
#trans-action-button > input {
  line-height: 15px;
  font: 15px;
  border-radius: 5px;
}
#trans-action-button > input:nth-child(1) {
  border: 1px solid #5BCEFA;
  color: white;
}
#trans-action-button > input:nth-child(2) {
  border: 1px solid #F5A9B8;
  color: #F5A9B8;
}
#trans-action-button > input:nth-child(2):hover {
  cursor: pointer;
  background-color: #F5A9B8;
  color: white;
}

/* report period button */

#report-period-button {
  margin: 20px 0px;
  padding: 5px 20px;
  color: white;
  font-size: 35px;
  font-family: 'Bebas Neue', Helvetica;
  font-weight: bold;
  transition: color 1s;
  animation: tripping 2s alternate infinite;
}

#report-period-button:hover {
  cursor: pointer;
  color: red;
}

@keyframes tripping {
  from {
    background-color: DarkRed;
  }
  100% {
    background-color: transparent;
  }
}
